html {
  position: relative;
  min-height: 100%;
}

body {
  background: #fefefe;
  color: #000;
  font-family: "Georgia", serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5;
  margin: 1em auto 50px;
  padding: 50px 50px 20px 50px;
  width: 740px;
}

footer {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", serif;
  font-weight: 200;
  margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

#toc ul {
  list-style-type: lower-decimal
}
#toc ul ul {
  list-style-type: lower-latin
}
#toc ul ul ul {
  list-style-type: lower-roman
}

h1, h2, h3 {
  line-height: 1.25;
}

h1 {
  font-size: 40px;
  color: #222;
}

h2 {
  font-size: 32px;
  color: #393939;
}

h3, h4, h5, h6 {
  font-size: 24px;
  color: #494949;
}

a {
  color: #39c;
  font-weight: 400;
  text-decoration: none;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  font-style: italic;
  margin: 0;
  padding: 0 0 0 20px;
}

code, pre {
  font-family: 'Fira Mono', monospace;
}

pre {
  background: #ffffff;
  overflow-x: auto;
  padding: 8px 15px;
  font-size: 16px;
}

code {
  padding: 1px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #e5e5e5;
  padding: 5px 10px;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

img {
  max-width: 80%;
}

strong {
  font-weight: 700;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

@media print, screen and (max-width:960px) {
  body {
    padding: 50px 50px 20px 50px;
    width: auto;
    margin: 0 0 50px 0;
  }
}

@media print, screen and (max-width:720px) {
  body {
    word-wrap: break-word;
  }

  pre, code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width:480px) {
  body {
    padding: 15px;
    margin: 0 0 30px 0;
  }
}

@media print {
  body {
    padding: 50px 50px 20px 50px;
    font-size: 12pt;
    color: #444;
  }
}

.sourceCode {
  color: #4d4d4c; /* default foreground */
}

.sourceCode .kw {
  color: #8959a8; /* purple */
}

.sourceCode .dt {
  color: #3e999f; /* aqua */
}

.sourceCode .fu {
  color: #4271ae; /* blue */
}

.sourceCode .ot {
  color: #c82829; /* red */
}

.sourceCode .dv {
  color: #f5871f; /* orange */
}

.sourceCode .st {
  color: #718c00; /* green */
}

.sourceCode .co {
  color: #8e908c; /* comment */
}

/* do these ever get used ?

.sourceCode .bn, .sourceCode .fl {
  color: #eeeeee;
}

.sourceCode .ch {
  color: #eeeeee;
}

.sourceCode .al {
  color: #eeeeee;
  font-weight: bold;
}

.sourceCode .er {
  color: #eeeeee;
  font-weight: bold;
}

*/
/* Key

#ffffff Background
#efefef Current Line
#d6d6d6 Selection
#4d4d4c Foreground
#8e908c Comment
#c82829 Red -- packages
#f5871f Orange -- constants, booleans, nums, etc
#eab700 Yellow -- variables
#718c00 Green -- strings
#3e999f Aqua -- parenths
#4271ae Blue -- conditions, funcs, operators
#8959a8 Purple -- keyword, imports, defs
*/
