<div id="disqus_thread"></div>
<script>

//  https://disqus.com/admin/universalcode/#configuration-variables
var disqus_config = function () {
  this.page.url = '$protocol$://$baseurl$$url$';
  this.page.identifier = '$path$';
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//samtay.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
