# Created by https://www.gitignore.io/api/haskell

*.swp

### Haskell ###
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
_cache/
_site/
# Global
*.DS_Store
Desktop.ini
Thumbs.db

# Project
!.keep
*.sass-cache
/_assets/yarn/
/_site/
/.jekyll-cache/
Gemfile.lock
package-lock.json
yarn.lock
.idea
