<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title | escape }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.name }}">

  <meta name="google-site-verification" content="3Dks-zyFcUXhgficK-VIzu2wp9gCz8fNjM7sAQDYhMg" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:title" content="{{ page.title | escape }}">
  <meta name="twitter:description" content="{{ page.description }}">

  {% if page.thumb_image %}
    {% if page.thumb_image contains '://' %}
      <meta property="og:image" content="{{ page.thumb_image }}">
      <meta name="twitter:image" content="{{ page.thumb_image }}">
    {% else %}
      <meta property="og:image" content="{{ site.url }}{% asset '{{ page.thumb_image }}' @path %}">
      <meta name="twitter:image" content="{{ site.url }}{% asset '{{ page.thumb_image }}' @path %}">
    {% endif %}
  {% else %}
    <meta property="og:image" content="{{ site.url }}{% asset og-image.jpg @path %}">
    <meta name="twitter:image" content="{{ site.url }}{% asset og-image.jpg @path %}">
  {% endif %}

  <link href="{{ 'feed.xml' | absolute_url }}" type="application/rss+xml" rel="alternate" title="{{ site.name }} Last 10 blog posts" />

  {% if site.local_fonts %}
    {% asset fonts.css %}
  {% endif %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% asset favicon-'{{ site.blog_theme }}'/apple-touch-icon.png @path %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% asset favicon-'{{ site.blog_theme }}'/favicon-32x32.png @path %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% asset favicon-'{{ site.blog_theme }}'/favicon-16x16.png @path %}">
  <link rel="manifest" href="{% asset favicon-'{{ site.blog_theme }}'/site.webmanifest @path %}">

  {% if site.theme_toggle == true %}

    {% if site.blog_theme == "light" %}
      <link rel="stylesheet" type="text/css" title="light" id="light" href="{% asset light.css @path%}">
      <link rel="stylesheet" type="text/css" title="dark" id="dark" href="{% asset dark.css @path%}" disabled="true">
    {% else %}
      <link rel="stylesheet" type="text/css" title="light" id="light" href="{% asset light.css @path%}">
      <link rel="stylesheet" type="text/css" title="dark" id="dark" href="{% asset dark.css @path%}" disabled="false">
    {% endif %}

  {% else %}

    {% if site.blog_theme == "light" %}
      {% asset light.css %}
    {% else %}
      {% asset dark.css %}
    {% endif %}

  {% endif %}

  {% if page.mathjax %}
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
    </script>
  {% endif %}

</head>
