// =============================================================================
// About
// =============================================================================

.about {
  padding: 100px 0;
  h1 {
    margin: 50px 0 15px;
  }
}

.profile-pic {
  height: 460px;
  overflow: hidden;
  img {
    margin: -100px 0 0 0;
  }
}
