<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">Sam Tay</a>
      </h1>
      <p class="lead">The ramblings of an opinionated functional programmer.</p>
    </div>

    <nav class="sidebar-nav">
      <!-- TODO map over pages and each page has 'active' field %-->
      <a class="sidebar-nav-item$if(home)$ active$endif$" href="/">Home</a>
      <a class="sidebar-nav-item$if(about)$ active$endif$" href="/about.html">About</a>
      <div class="sidebar-nav-external">
        <a href="https://github.com/samtay" title="Github">
          <i class="fa fa-github faa-shake animated-hover"></i>
        </a>
        <a href="mailto:sam.chong.tay@gmail.com" title="Email">
          <i class="fa fa-envelope faa-shake animated-hover"></i>
        </a>
        <a href="/feed.xml" title="RSS">
          <i class="fa fa-rss faa-shake animated-hover" aria-hidden="true"></i>
        </a>
      </div>
    </nav>

    <p>&copy; 2018. All rights reserved.</p>
  </div>
</div>
