<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">Sam Tay</a>
      </h1>
      <p class="lead">The ramblings of an opinionated functional programmer.</p>
    </div>

    <nav class="sidebar-nav">
      <!-- TODO map over pages and each page has 'active' field %-->
      <a class="sidebar-nav-item$if(home)$ active$endif$" href="/">Home</a>
      <a class="sidebar-nav-item$if(about)$ active$endif$" href="/about.html">About</a>
    </nav>

    <p>&copy; 2018. All rights reserved.</p>
  </div>
</div>
